
#title {
    background-color: #ff4c68;
    font-family: Montserrat;
}

h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #f8f9fa;
}
 h2 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
    
 }

h3 {
    font: montserrat;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 2%;
}

p {
    color: #8f8f8f;
    font-family: montserrat;
    font-weight: 400;
}
.container-fluid {
    padding: 3% 15%;

}

/*NAVEGATION BAR*/

.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
 font-size: 1.2rem;
}


/*Download BUTTONS*/

.download-button {

    margin: 5% 3% 5% 0;
}

/*Title IMAGES*/

.title-image {
    width: 60%;
    right: 30px;
    position: absolute;
    transform: rotate(25deg)
}

/*FEATURES*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.row-fe {
    margin: 10% 10%;
    text-align: center;
}

.icon-f {
    padding: 2%;
    color: #ef8172;
      
}


.icon-f:hover {
    color: #ff4c68;
}

/*MANGAS*/

#MANGAS {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    
}

.manga-img {
    width: 25%;
}

/*pricing*/

#pricing {
    padding: 7% 15%;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

.check-green-free {
    color: forestgreen;
}
.check-green-pre {
    color: forestgreen;
}
.check-green-pro{
    color: forestgreen;
}

#bottom {
    background-color: #ff4c68;
    text-align: center;
}

.hentai {
    padding: 50px 20px 0;
    margin: 40px;
    font-family: montserrat;
    font-weight: 900;
    font-size: 40px;
}
.download-btn-top {
    margin: 20px 7px;
}

#footer {
    background-color: #fff;
    padding: 50px 20px 0;
    margin: 40px;
    text-align: center;
}

.icons {
    display: inline-block;
}
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}